@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Lato", sans-serif;
  max-width: 1240px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
}
header img {
  width: 268px;
  align-self: center;
}
header .main-search {
  width: 100%;
  display: flex;
}
header .main-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #E7E7E7;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 69px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  padding: 0 1rem;
  position: relative;
}
header .main-search button {
  border: none;
  width: 20%;
  padding: 15px;
  background: #E7E7E7;
  font-size: 17px;
  cursor: pointer;
}
header .main-search button:hover {
  background: #bbb;
}
header .main-search button i {
  font-size: 1.8em;
}
header .selected-filters {
  display: flex;
}
header .selected-filters .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 107px;
  height: 37px;
  color: white;
  background: #3282F7;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 700;
}
header .selected-filters .content::after {
  content: url("../images/buttonCross.svg");
  font-size: 2rem;
}
header .option-search {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 1rem 0;
}
header .option-search .box {
  display: flex;
  flex-direction: column;
  z-index: 10;
  justify-content: space-around;
  overflow: hidden;
  margin-right: 2%;
  width: 170px;
  height: 69px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
header .option-search .box.expand {
  width: 70%;
  height: fit-content;
  padding-top: 1.7em;
  cursor: unset;
}
header .option-search .box.expand li {
  cursor: pointer;
  line-height: 2em;
  transition: all 300ms ease-in-out;
}
header .option-search .box.expand li:hover {
  background: rgba(255, 255, 255, 0.171);
}
header .option-search .box .topBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .option-search .box .topBox input {
  width: 80%;
  height: 80%;
  background: #3282F7;
  color: white;
  border: none;
}
header .option-search .box .topBox input::placeholder {
  color: white;
}
header .option-search .box .topBox input:hover, header .option-search .box .topBox input:focus {
  outline: none;
}
header .option-search .box .topBox .buttonArrow {
  width: 16px;
}
header .option-search .box .topBox .buttonArrow.up {
  transform: rotate(180deg);
}
header .option-search .box ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  list-style: none;
}
header .option-search .box.Ingredients {
  background: #3282F7;
}
header .option-search .box.Ingredients input {
  background: #3282F7;
}
header .option-search .box.Appareil {
  background: #68D9A4;
}
header .option-search .box.Appareil input {
  background: #68D9A4;
}
header .option-search .box.Ustensiles {
  background: #ED6454;
}
header .option-search .box.Ustensiles input {
  background: #ED6454;
}

main {
  position: absolute;
  top: 38%;
}
main .recipe {
  display: flex;
  flex-direction: column;
  background: #E7E7E7;
  width: 380px;
  height: 364px;
  border-radius: 5px;
}
main .recipe img {
  border-radius: 5px 5px 0 0;
  background: #C7BEBE;
  width: 100%;
  height: 178px;
}
main .recipe .recipe-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 6px;
}
main .recipe .recipe-headings .recipe-title {
  font-size: 18px;
}
main .recipe .recipe-headings .recipe-clock {
  background: unset;
  font-size: 20px;
  width: 20px;
  height: auto;
  position: absolute;
  right: 4rem;
}
main .recipe .recipe-headings .cookingTiming {
  font-weight: 700;
  font-size: 18px;
  margin-right: 0.4rem;
}
main .recipe .recipe-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .recipe .recipe-main .recipe-ingredients {
  list-style: none;
  padding-left: 6px;
  margin: 0;
}
main .recipe .recipe-main .recipe-ingredients .ingredient {
  font-weight: 700;
  font-size: 12px;
}
main .recipe .recipe-main .recipe-ingredients .quantity {
  font-size: 12px;
}
main .recipe .recipe-main .description {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 50%;
}

/*# sourceMappingURL=index.css.map */
